<template>
  <button
    :class="[
      extendClass ? `${extendClass}` : '',
      fitContainer ? `fit-container` : '',
      `btn-${size}`,
      {
        'btn-primary': primary,
        'btn-secondary': secondary,
        'btn-success': success,
        'btn-info': info,
        'btn-warning': warning,
        'btn-danger': danger,
        'btn-icon': icon,
        'btn-disabled': disabled,
        'btn-autofocus': autofocus,
        'btn-outlined': outlined
      }
    ]"
    :type="type"
    :disabled="disabled"
    :autofocus="autofocus"
    :tabindex="tabindex"
    class="btn"
    @click="handleClick"
  >
    <div v-if="$slots.prefix" ref="prefix" class="button__prefix">
      <slot name="prefix" />
    </div>

    <!-- -->

    <Loader v-if="loading" :size="getLoadingSize()" class="btn__loading" />
    <div :class="{ transparent: loading }" class="btn__content">
      <slot />
    </div>

    <!-- -->

    <div v-if="$slots.postfix" ref="postfix" class="button__postfix">
      <slot name="postfix" />
    </div>

    <div v-if="badge" class="btn__badge">
      {{ badge }}
    </div>
  </button>
</template>

<script>
import Loader from '../Base/Loader';

// TODO: Translate comments
export default {
  name: 'Button',
  components: { Loader },
  props: {
    /**
     * Тип кнопки
     * Возможные варианты: button, reset, submit
     */
    type: {
      type: String,
      default: ''
    },
    /**
     * Классы для элемента кпонки
     */
    extendClass: {
      type: String,
      default: ''
    },
    /**
     * Размер кпонки
     * Возможные варианты: lg, md, sm
     */
    size: {
      type: String,
      default: 'md'
    },
    /**
     * Возможность расширять поле на всю ширину
     */
    fitContainer: {
      type: Boolean,
      default: false
    },
    /**
     * Кнопка с зеленым фоном
     */
    success: Boolean,
    /**
     * Кнопка с фоном основного цвета
     */
    primary: Boolean,
    /**
     * Кнопка с фоном второго основного цвета
     */
    secondary: Boolean,
    /**
     * Кнопка с голубым фоном
     */
    info: Boolean,
    /**
     * Кнопка с оранжевым фоном
     */
    warning: Boolean,
    /**
     * Кнопка с красным фоном
     */
    danger: Boolean,

    /**
     * Кнопка с цветной границей и прозрачным фоном
     * Пример использования:
     * `<Button success outlined />`  - кнопка с зеленой границей
     */
    outlined: Boolean,
    /**
     * Кнопка, содержащая иконку
     */
    icon: Boolean,
    /**
     * Кнопка, содержащая иконку с дополнительной информацией
     */
    badge: String,
    /**
     * Автоматическая фокусировка на элементе кпонки
     */
    autofocus: {
      type: Boolean,
      default: false
    },
    /**
     * Возможность отключения ввода
     */
    disabled: {
      type: Boolean,
      default: false
    },
    /**
     * Колесо прогрузки внутри кпонки
     */
    loading: {
      type: Boolean,
      default: false
    },

    tabindex: Number
  },
  methods: {
    handleClick(evt) {
      this.$emit('click', evt);
    },
    getLoadingSize() {
      switch (this.size) {
        case 'lg':
          return 20;
        case 'md':
          return 15;
        case 'sm':
          return 10;
      }
    }
  }
};
</script>

<style lang="scss">
@import '../../styles/shared/button';
</style>
