@import 'variables';
@import 'main';

p {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

a {
  font-family: $font-family;
  color: $link-color;
  text-decoration: none;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

:global(#root) {
  padding: 40px;
}

code {
  font-family: 'Source Code Pro', Menlo, Monaco, 'Courier New', monospace;
  font-size: 13px;
  color: $primary;
}
