<template>
  <div class="breadcrumb">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: 'Breadcrumb',
    props: {
      separator: {
        type: String,
        default: '››'
      }
    }
  }
</script>

