<template>
    <a href="#" class="tab" v-bind:class="{tab_active: active}">
        <slot />  
    </a>
</template>

<script>
export default {
    name: "Tab",
    props: {
        active: Boolean
    }
}
</script>

<style lang="scss" scoped>
    .tab {
        font-weight: 400;
        display: inline-flex;
        justify-content: center;    
        align-items: center;
        color: white;
        font-size: 14px;
        text-decoration: none;
        padding: 0 12px;
        &_active {
            height: 36px;
            padding: 0 16px;
            border-radius: 4px;
            background-color: #1166a5;
        }   
    }
</style>