<template>
  <div class="progress-bar">
    <div v-if="$slots.label" ref="label" class="progress-bar__label">
      <!--@slot Text above the progress bar-->
      <slot name="label" />
    </div>
    <div :style="progressBarParentStyles" class="progress-bar__parent">
      <div
        :class="[
          variant ? `bg-${variant}` : '',
          extendClass ? `${extendClass}` : ''
        ]"
        :style="progressBarStyles"
        :aria-valuemin="0"
        :aria-valuemax="computedMax.toString()"
        :aria-valuenow="value.toFixed(0)"
        class="progress-bar__child"
        role="progressbar"
      >
        <div
          v-if="$slots.value"
          ref="value"
          :style="progressBarValueStyles"
          class="progress-bar__value"
        >
          <!--@slot Text inside the progress bar -->
          <slot name="value" />
        </div>
      </div>
    </div>
    <div v-if="$slots.helper" ref="helper" class="progress-bar__helper">
      <!--@slot Text below the progress bar -->
      <slot name="helper" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProgressBar',
  model: {
    prop: 'value',
    event: 'change'
  },
  props: {
    /**
     * Height of loading bar in pixels
     */
    height: {
      type: Number,
      default: 7
    },

    /**
     * Custom classes
     */
    extendClass: {
      type: String,
      default: ''
    },

    /**
     * Initial value of loaded percent
     */
    value: {
      type: Number,
      default: 0
    },

    /**
     * Maximum value
     */
    max: {
      type: Number,
      default: null
    },

    /**
     * Color of loading bar line
     * Possible variants: primary, secondary, success, info, warning, danger, dark
     */
    variant: {
      type: String,
      default: 'primary'
    },
  },

  computed: {
    computedMax() {
      return typeof(this.max) === 'number' ? this.max : 100;
    },
    progressBarStyles() {
      const current = 100 * (this.value / this.computedMax);
      this.$emit('change', current);
      return {
        width: current + '%'
      };
    },
    progressBarParentStyles() {
      return {
        height: this.height + 'px'
      };
    },
    progressBarValueStyles() {
      return {
        lineHeight: this.height + 'px'
      };
    }
  }
};
</script>

<style lang="scss">
  @import "styles/variables";
  .progress-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    &__parent {
      width: 100%;
      border-radius: $loading-bar-parent-border-radius;
      background-color: $loading-bar-parent-background-color;
      display: flex;
      overflow: hidden;
      .bg {
        &-primary {
          background-color: $primary;
        }
        &-secondary {
          background-color: $secondary;
        }
        &-success {
          background-color: $success;
        }
        &-info {
          background-color: $info;
        }
        &-danger {
          background-color: $danger;
        }
        &-warning {
          background-color: $warning;
        }
        &-dark {
          background-color: $dark;
        }
      }
    }

    &__child {
      text-align: center;
      overflow: hidden;
      will-change: width;
    }

    &__value {
      color: $loading-bar-value-color;
      font-size: $loading-bar-value-font-size;
      font-weight: $loading-bar-value-font-weight;
    }
    &__helper {
      margin-top: 3px;
    }
  }
</style>
